.cat-details p {
  font-size: 14px;
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
}

.img-container {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 300px; /* Set a fixed height for the container */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 440 width: 400, crop: :fill,
}

.hover-zoom {
  transition: transform 0.5s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.map {
  height: 92vh;
}


.btn-animate {
  transition: all 0.3s ease-in-out;
}

.btn-animate:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.found {
  background-color: rgba(131, 177, 131, 0.459) !important;
}

.not-found {
  background-color: rgba(168, 82, 82, 0.459) !important;
}
