.cat-details p {
  font-size: 14px;
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
}

.img-container {
  overflow: hidden;
  border-radius: 10px;
  // height: 440 width: 400, crop: :fill,
}

.hover-zoom {
  transition: transform 0.5s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.map {
  height: 92vh;
}


.btn-animate {
  transition: all 0.3s ease-in-out;
}

.btn-animate:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
