<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_960_720.jpg);">
  <div class="container">
    <h1>Where is Monday - will help you</h1>
    <p>to find your cat!</p>
    <a class="btn btn-primary" href="#">Search</a>
  </div>
</div>
