.cat-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cat-details p {
  font-size: 16px;
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
}

.img-container {
  overflow: hidden;
  border-radius: 10px;
}

.hover-zoom {
  transition: transform 0.5s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.sticky-map {
  position: sticky;
  top: 20px;
}


.btn-animate {
  transition: all 0.3s ease-in-out;
}

.btn-animate:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
