.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0; /* Setzt den Footer an den unteren Rand */
  left: 0; /* Setzt den Footer an den linken Rand */
  width: 100%; /* Stellt sicher, dass der Footer die gesamte Breite des Bildschirms einnimmt */
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
