.custom-btn {
  background: none;
  border: none;
  font-size: 3rem; /* Increase the font size */
  cursor: pointer; /* Add pointer cursor for better UX */
  position: absolute;
  bottom: 20px; /* Adjusted to position the button lower */
  left: 0px; /* Position further to the left */
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center;
  text-align: center;
}

.details-text {
  font-size: 1rem; /* Smaller font size for the details text */
  margin-top: 5px; /* Space between the icon and the text */
  font-family: inherit; /* Inherit typography from the card */
  color: inherit; /* Inherit color from the button */
}

.red-paw {
  color: red;
}

.blue-paw {
  color: blue;
}

/* Additional color classes */
.green-paw {
  color: green;
}

.orange-paw {
  color: orange;
}
