<div class="container py-4">
  <div class="text-center my-5">
    <h4 style="font-weight: bold; font-size: 40px;">My Cat History:</h4>
  </div>
  <div class="row justify-content-center">
    <% @cats.order(created_at: :desc).each do |cat| %>
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card-cat">
          <% if cat.photo.attached? %>
            <%= cl_image_tag cat.photo.key, height: 650, width: 850, crop: :fill %>
          <% end %>
          <div class="">
            <h3 class="card-title"><%= cat.name %></h3>
            <p class="card-text"><%= cat.description %></p>
            <div class="d-flex justify-content-between mt-3 px-3">
            <%= link_to cat_path(cat), class: "btn custom-btn" do %>
              <i class="fa-solid fa-paw orange-paw"></i>
              <span class="details-text orange-paw">Details</span>
            <% end %>
        </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
